@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');



*{
 font-family: "Montserrat", sans-serif;
}

h3,h2{
     font-family: "Cardo", serif;
}
/**************Header************/
.navfloat{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: white;
    box-shadow: 0px 1px 5px 1px #656565;
}

header{
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 427px;
    margin-top: 3%;
}

.navfloat, .navfloat ul, li{
    background: #FFF;
}

.navfloat li{
    list-style: none;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

.navfloat ul{
    padding-bottom: 15px;
}

a{
    text-decoration: none;
    color: #9F9F9F;
}

a[href="index_tpblog.html"]{
    color: black;
}

a:hover{
    color: blue;

}

img{
    opacity: 80%;
}

img:hover{
    opacity: 100%;
}

nav img:hover{
    opacity: 50%;
    transition-duration: 0.4ms;
    transform: scale(1.2);
    transition: 0.9ms;
}

img[src="img/facebook.png"],img[src="img/twitter.png"],img[src="img/article.jpg"]{
    cursor: pointer;
}

#marge{                                                      
    margin-left: 71%;
 
}




/**************Main************/

body{
    margin: 0;
}

/* .container{
    margin-left: auto;
    margin-right: auto;                                     
    width: 1280px;
} */

.d-flex{
    display: flex;
}

h3{
    font-size: 170%;
}
main{
    background: #FFF;
}

main span{
    position: relative;
    top: 20px;
    font-size: 11px;
    color: #9F9F9F;
}

main article{
    display: flex; 
    margin-top: 25px;
}

main article p, h3,span{
    margin-left: 20px;
    margin-top: 30px;
    cursor: pointer;
}

main h3:hover, main span:hover,main p:hover{
    text-decoration: underline;
}
main article p{
    width: 50%;
}

main nav ul li{
    list-style-type: none;
    text-decoration: none;
    background: #FBFBFB;
}

ul{
    background: #FBFBFB;
}

aside{
    /* float: right; */
    width: 25%;
    background: #FBFBFB;
}

h2{
    margin-left: 20px;
    font-weight: 800;
    padding-bottom: 7%;
}

img[src="img/logojs.png"],img[src="img/pngwing.com.png"]{
    width: 35%;
    margin-left: 30%;
    cursor: pointer;
}

img[src="img/logojs.png"]:hover,img[src="img/pngwing.com.png"]:hover{
    opacity: 100%;
    transition-duration: 1s;
    transform: scale(1.2);
    transition: 1.2s;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

figcaption:hover{
    background-color: red;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}



img[src="img/logojs.png"]{
    padding-bottom: 20px;
    opacity: 80%;
}

aside li{
    padding-bottom: 15px;
}

section{
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
}

hr{
    width: 70%;
    margin-top: 10%;
    margin-bottom: 10%;
}


/**************Footer************/

footer{
    background: #FBFBFB;
}

footer div{
    background: #FBFBFB;
    text-align: center;

}



iframe{
    margin-left: 15%;
    width: 80%!important;
    height: 15%!important;
}

/********Media Queries******/
@media screen and (max-width: 1771px) {
    #marge{
    margin-left: 69%;
}

@media screen and (max-width: 1716px) {
        #marge{
            margin-left: 68%;
        }

@media screen and (max-width: 1663px) {
        #marge{
            margin-left: 67%;
        }
    
@media screen and (max-width: 1614px) {
        #marge{
            margin-left: 66%;
        }

@media screen and (max-width: 1568px) {
        #marge{
            margin-left: 65%;
        }

@media screen and (max-width: 1568px) {
        #marge{
            margin-left: 64%;
        }

@media screen and (max-width: 1568px) {
        #marge{
            margin-left: 64%;
          }

@media screen and (max-width: 1483px) {
         #marge{
            margin-left: 63%;
              }
@media screen and (min-width: 1257px) and (max-width: 1444px) {
                #marge{
                    margin-left: 62%;
                  }

@media screen and (min-width: 1257px) and (max-width: 889px) {
                    #marge{
                        margin-left: 62%;
                      }
@media screen and (max-width: 890px) {
                        article{
                            display: flex;
                            flex-direction: column;
                        }
                        #marge{
                            margin-left: 62%;
                          }
        
    



}